:root {
  --primary-color: #f9f7fe;
  --secondary-color: #272142;
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}


h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: 700;
  font-weight: bold;
  color: black;
  line-height: 1.5;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
}



.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container img {
  border: 10px solid transparent;
  padding: 15px;
  
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--default-font-family);
  line-height: 1.5;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 39px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  
  .content-container {
    text-align: center;
    padding: 0;
  }
}